* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
h1 {
	text-align: center;
}
	.relative {
		float: left;
		width: 63.33%;
		padding: 25px;
		border: 3px solid black;
		width: 400px;
		height: 300px;
		box-sizing: border-box;
		margin: 4px;


	}
/*	}
	.absolute {
		width: 50%;
		height: 50%;
		position: relative;
		background-color: greenyellow;
		top: 65px;
		left: 65px;
		
		
	}*/
	.p1 {
		background-color: greenyellow;
		position: relative;
		bottom: 100px;
		left: 270px;
		border: 1px solid black;
		width: 100px;
		text-align: center;
	}
	.p2 {
		background-color: pink;
		position: relative;
		bottom: 100px;
		left: 270px;
		border: 1px solid black;
		width: 100px;
		text-align: center;
	}
	.p3 {
		background-color: violet;
		position: relative;
		bottom: 100px;
		left: 270px;
		border: 1px solid black;
		width: 100px;
		text-align: center;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}